<h3>List of registered users</h3>
<div class="table table-striped">
	<div class="table-row head">
		<div class="table-data head number">#</div>
		<div class="table-data head name">Login</div>
		<div class="table-data head fullname">Full Name</div>
		<div class="table-data head email">Email</div>
		<div class="table-data head admin">Admin</div>
		<div class="table-data head controls"></div>
	</div>
	<div class="table-row" *ngFor="#user of users #index=index" [class.even]="index%2 == 0">
		<input-user [user]="user" [index]="index" [current]="currentUser">
		</input-user>
	</div>
</div>
