* {
	box-sizing: border-box;
}
nav.nav {
	margin: 0 0 20px 0;
}
a.btn.router-link-active {
	background-color: #777;
}
a, span.fa {
	cursor: pointer;
}

.table {
	width: 100%;
}
.table .table-row {
	display: block;
	padding: 10px 10px;
	background-color: 333333;
}
.table .table-row:not(.head):hover {
	background-color: slategray;
}
.table .table-row.head {
	background-color: dimgray;
}
.table .table-row.even {
	background-color: darkslategray;
}
.table .table-row .table-data, .table .table-row .table-data.head {
	display: inline-block;
}
.table .table-row .table-data.head {
	font-weight: bold;
}
.table .table-row .table-data.number {
	min-width: 30px;
	width: 5%;
}
.table .table-row .table-data.name {
	min-width: 90px;
	width: 15%;
}
.table .table-row .table-data.fullname {
	width: 30%;
}
.table .table-row .table-data.email {
	display: none;
}
.table .table-row .table-data.admin {
	min-width: 60px;
	width: 10%;
	text-align: center;
}
.table .table-row .table-data.controls {
	text-align: center;
	display: none;
}
.fa-ban {
	color: red;
}
.fa-check {
	color: green;
}

@media screen and (min-width: 600px) {
	.table {
		min-width: 600px;
	}
	.table .table-row .table-data.fullname {
		min-width: 180px;
	}
	.table .table-row .table-data.email {
		min-width: 180px;
		width: 30%;
		display: inline-block;
	}
	.table .table-row .table-data.controls {
		min-width: 30px;
		width: 5%;
		display: inline-block;
	}
}
